node_modules/
dist/
build_app.sh
WindowsVer.zip
build_linux_on_win.ps1
firestore.rules
tests/Piorkowski/
test_mac_hpm/
HPMinneSystemy/
test-output.txt
.codebase-index-cache.pkl
# Zależności
node_modules/
.venv/
venv/
env/

# Build i cache
dist/
build/
.next/
.cache/

# Inne
*.pkl
*.json  # Jeśli masz ogromne pliki z danymi testowymi.dual-graph/
kartaPracyDyplomowej.pdf
praca_inzynierska.aux
praca_inzynierska.bcf
praca_inzynierska.fdb_latexmk
praca_inzynierska.fls
praca_inzynierska.log
praca_inzynierska.out
praca_inzynierska.pdf
praca_inzynierska.run.xml
praca_inzynierska.synctex.gz
praca_inzynierska.toc
